*.ipr
*.iws
*.iml
.idea
target
.settings
.classpath

activemq-data
*.epoch
*.log

**/.sass-cache/**
**/webapp/resources/bower_components/**
**/webapp/resources/node_modules/**

generated/**/*.java
generated/**/*.groovy