<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date [%thread] %-5level %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Cell-Life -->

    <logger name="org.celllife" level="INFO" />

    <!-- Hibernate -->

    <logger name="org.hibernate" level="WARN" />

    <logger name="org.hibernate.cache.ehcache.AbstractEhcacheRegionFactory" level="ERROR" />

    <!-- Spring -->

    <logger name="org.springframework" level="WARN" />

    <!-- C3P0 Connection Pool -->

    <logger name="com.mchange.v2" level="WARN" />

    <!-- Liquibase -->

    <logger name="liquibase" level="WARN" />

    <!-- Atomikos -->

    <logger name="com.atomikos.jdbc.AbstractDataSourceBean" level="ERROR" />

    <logger name="com.atomikos.jdbc.AtomikosConnectionProxy" level="ERROR" />

    <logger name="com.atomikos.icatch.imp.CoordinatorImp" level="ERROR" />

    <logger name="com.atomikos.icatch.config.UserTransactionServiceImp" level="ERROR" />

    <!-- Root -->

	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>