package ${domainPackageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${entityName}Service {

    Iterable<${entityName}> save(Iterable<${entityName}> ${lowerCaseEntityNamePlural})

    ${entityName} save(${entityName} ${lowerCaseEntityName})

    Iterable<${entityName}> findAll()

    ${entityName} findByCode(String code)
}