package ${domainPackageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
class ${entityName} {

    static final String NAMESPACE = "http://www.cell-life.org/idart/${resourcePath}"

    String code

    String name

    String description

}
