package ${applicationService.packageName}

import ${id.packageName}.${id.className}
import ${entity.packageName}.${entity.className}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${applicationService.className} {

    ${entity.className} save(${entity.className} ${entity.fieldName})

    ${entity.className} findBy${id.className}(${id.className} ${id.fieldName})

}
