package ${domainService.packageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${domainService.className} {

    ${entity.className} save(${entity.className} ${entity.fieldName}) throws ${entity.className}ValidationException

    ${entity.className} findBy${entity.identifier.name}(${entity.identifier.className} ${entity.identifier.fieldName}) throws ${entity.className}NotFoundException

}