package ${domainService.packageName}

import ${id.packageName}.${id.className}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${domainService.className} {

    ${entity.className} save(${entity.className} ${entity.fieldName}) throws ${entity.className}ValidationException

    ${entity.className} findBy${id.className}(${id.className} ${id.fieldName}) throws ${entity.className}NotFoundException

}