package ${eventPublisher.packageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${eventPublisher.className} {

    void publish(${domainEvent.className} ${domainEvent.fieldName})

}
