package ${eventPublisher.packageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${eventPublisher.className} {

    void ${entity.fieldName}Saved(${entity.className} ${entity.fieldName})

}