package ${repository.packageName}

import ${identifier.packageName}.${identifier.className}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${repository.className} {

    ${entity.className} save(${entity.className} ${entity.fieldName})

    ${entity.className} findOne(${identifier.className} ${identifier.fieldName})

}
