package ${repository.packageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${repository.className} {

    ${entity.className} save(${entity.className} ${entity.fieldName})

    ${entity.className} findOne(${entity.identifier.className} ${entity.identifier.fieldName})

}
