package ${validator.packageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${validator.className} {

    void validate(${entity.className} ${entity.fieldName}) throws ${entity.className}ValidationException

}
