package $domainPackageName

/**
 * User: Kevin W. Sewell
 * Date: ${currentDate}
 * Time: ${currentTime}
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
class $entityName {

    String name

}