package $domainPackageName;

import javax.annotation.Generated;

/**
 * User: Kevin W. Sewell
 * Date: ${currentDate}
 * Time: ${currentTime}
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
public interface ${entityName}Repository {

    ${entityName} findOneByIdentifier(String identifierSystem, String identifierValue);

    Iterable<${entityName}> findByIdentifier(String identifierValue);
}
