package ${domainPackageName}

import javax.annotation.Generated

/**
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${entityName}Validator {

    void validate(${entityName} ${lowerCaseEntityName}) throws ${entityName}ValidationException

}