package ${domainPackageName}

import javax.annotation.Generated

/**
 * User: Kevin W. Sewell
 * Date: ${currentDate}
 * Time: ${currentTime}
 */
@Generated("org.celllife.idart.codegen.CodeGenerator")
interface ${entityName}Validator {

    void validate(${entityName} ${lowerCaseEntityName}) throws ${entityName}ValidationException

}